.THIS .slds-form-element__label {
    display: none;
}

.THIS input[type=search] {
    width: 100%;
    height: 50px;
    font-size: 1.1rem;
    border: 2px solid #d5d5d5;
    border-radius: 0;
    /*box-shadow: inset 0 1px 0 #d5d5d5;*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-transition: background .3s linear;
    transition: background .3s linear;
}

.THIS #locationSearch>ul {
    width: calc(75% - 1.5rem);
}

.THIS .slds-input__icon, .THIS .slds-button__icon {
    width: 1.2rem !important;
    height: 1.2rem !important;
}

.THIS .ins-button {
    height: 60px;
    margin-left: 1.5rem;
    font-family: MuseoSans-900,arial,helvetica,sans-serif;
    font-size: 20px;
    font-size: 1.25rem;
}